* {
    cursor: default;
}

a,
button {
    cursor: pointer;
}

*:focus-visible {
    outline-style: dashed;
    outline-color: black;
    outline-width: 3px;
    outline-offset: 4px;
}

.skip-link {
    display: block;
    position: absolute;
    background: white;
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
}

.sr-only,
.skip-link:not(:focus) {
    position: fixed;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}