@import url(common.css);
@import url(switch.css);

*:not(p) {
    padding: 0;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    background: var(--main-color);
    /* background: #f2f2f2; */
    height: 100vh;
}


main {
    display: flex;
    flex-direction: column;
    align-self: center;

    background: var(--main-color-light);
    width: 75%;
    height: 100%;
    margin: 24px;
    padding: 24px;

    /* text-align: center; */
}

h1 {
    align-self: center;
}

main form {
    display: flex;
    flex-direction: column;
}

#message {
    display: block;
    width: 100%;
    height: 50pt;
}