nav {
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    padding: 0 32px;
    background-color: var(--main-color-inverse);
}

nav>.name {
    font-family: "Palanquin", sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: 1;

    font-size: 24px;
    color: var(--text);
    text-decoration: none;
}