nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    margin: 0 32px;
}

nav>.name {
    font-family: "Palanquin", sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: 1;

    font-size: 24px;
    color: black;
    text-decoration: none;
    /* padding-left: 28px;
    border: solid black; */
}