.palanquin-thin {
    font-family: "Palanquin", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.palanquin-extralight {
    font-family: "Palanquin", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.palanquin-light {
    font-family: "Palanquin", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.palanquin-regular {
    font-family: "Palanquin", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.palanquin-medium {
    font-family: "Palanquin", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.palanquin-semibold {
    font-family: "Palanquin", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.palanquin-bold {
    font-family: "Palanquin", sans-serif;
    font-weight: 700;
    font-style: normal;
}