:root {
    --main-color: #f2f2f2;
    --main-color-inverse: #fff;
    --main-color-light: color-mix(in srgb, var(--main-color) 10%, white 90%);

    --dark: #323230;
    --grey: #5F5F5F;

    --primary-color: #E0340D;
    --secondary-color: #0061AC;

    --spacing: .5rem;
    --spacing-2: calc(2 * var(--spacing));
    --spacing-3: calc(3 * var(--spacing));
    --spacing-4: calc(4 * var(--spacing));

    --border-radius: 1rem;
    --border-radius-sm: calc(var(--border-radius) / 3);

    --outline-color: var(--dark);
}

.darkmode {
    --main-color: #6fb36f;
    --main-color-inverse: #000;
    --main-color-light: color-mix(in srgb, var(--main-color) 10%, black 90%);

    --dark: #312f31;
    --grey: #111;

    --spacing: .5rem;
    --spacing-2: calc(2 * var(--spacing));
    --spacing-3: calc(3 * var(--spacing));
    --spacing-4: calc(4 * var(--spacing));

    --border-radius: 1rem;
    --border-radius-sm: calc(var(--border-radius) / 3);

    --outline-color: var(--dark);
}